/* Defaults */
:root {
	--font-family: "IM Fell English", "Times New Roman", Times, serif;
}


/* Theme colors */
:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #C0C0C0;
	--color-gray-90: #333;

	--background-color: #fff;

	--text-color: var(--color-gray-90);
	--text-color-link: #082840;
	--text-color-link-active: #5f2b48;
	--text-color-link-visited: #17050F;

	--syntax-tab-size: 2;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-gray-20: #e0e0e0;
		--color-gray-50: #C0C0C0;
		--color-gray-90: #dad8d8;

		/* --text-color is assigned to --color-gray-_ above */
		--text-color-link: #1493fb;
		--text-color-link-active: #6969f7;
		--text-color-link-visited: #a6a6f8;

		--background-color: #15202b;
	}
}

a[href] {
	color: var(--text-color-link);
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}

@view-transition {
	navigation: auto;
}

@media all and (max-width: 550px) {
  
  html,
  body {
    width:330px
  }
}

@media all and (min-width: 551px) and (max-width: 800px){
  
  html,
  body {
    width:520px
  }
}


@media all and (min-width: 801px) {
  
  html,
  body {
    width:640px
  }
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
}

html {
	overflow-y: scroll;
}


/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Nav */
.nav {
	display: flex;
	gap: 3%;
	padding: 0;
	margin: 0;
	list-style: none;
    align-items: center;
    justify-content: center
}
.nav-item {
	display: inline-block;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}

.nav-sub-item {
	display: block;
}
.nav-sub-item a[href]:not(:hover) {
	text-decoration: none;
}

.nav-sub-item:hover {
  text-decoration: underline;
}

.nav a[href][aria-current="page"] {
	text-decoration: underline;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a[href]:not(:hover) {
	text-decoration: none;
}

.dropdown-content a[href][aria-current="page"] {
	text-decoration: underline;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover {
  text-decoration: underline;
}


/* Lightbox gallery */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25%;
    margin:  0;
    place-items: center;
}

.single-column-gallery {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 1.25%;
    margin:  0;
    place-items: center;
}

.gallery a {
    break-inside: avoid;
    text-decoration: none;
}

.gallery img {
    max-width: 100%;
    display: block;
}

/* Lightbox captions */
.pswp__custom-caption {
  background: var(--color-gray-90);
  font-size: 24px;
  color: var(--color-gray-20);
  
  width: calc(100% - 32px);
  max-width: 400px;
  padding: 2px 8px;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
}
.pswp__custom-caption a {
  color: #fff;
  text-decoration: underline;
}






.header {
  text-align: center;
}
.subheader {
  text-align: center;
}

.footer {
  text-align: center;
}


/* Left border */
.leftborder {
  display: inline-block;
  align-items: left;
  vertical-align:top;
  justify-content: left;
  width: 10%;
}

.border_img {
  width: 100%;
}


/* page content */
.pagecontent{
  display: inline-block;
  align-items: left;
  vertical-align:top;
  text-align: center;
  width: 87%;
}
