---
title: R. P. F. Morrison, Luthier.
border: <img class="leftborder" loading="lazy" decoding="async" src="/img/border2.jpg" alt="decorative border"/>
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap" rel="stylesheet">
	
	
    <title>{{ title }}</title>	
	<style>{% include "bundle.css" %}</style>
  </head>
  <body>

      <h1 class="header"> {{ title }} </h1>
	
      <nav>
        <h2 class="visually-hidden">Top level navigation menu</h2>
        <ul class="nav">
          {%- for entry in collections.all | eleventyNavigation %}
          <li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
          {%- endfor %}
        </ul>
      </nav>

	<div class="leftborder">
	  {{border | safe }}
	  <div>
      {{ content | safe }}
	  </div>
	</div>
	<div class="footer">
	  <p>Copyright © Rory Morrison 2025</p>
	  <p>Hosted with GitHub Pages, built with 11ty v3.1.2</p>
	  <p>Border image taken from <a href="http://www.godecookery.com/clipart/borders/clbord.htm">godecookery.com</a> </p>
	</div>
  </body>
</html>