---
title: R. P. F. Morrison
subtitle: Folk and Early Stringed Instruments
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap" rel="stylesheet">
	
	
    <title>{{ title }}</title>	
	<style>{% include "css/bundle.css" %}</style>
  <style>{% include "css/photoswipe.css" %}</style>
  </head>
  <body>
    <h1 class="header"> {{ title }} </h1>
	<h3 class="subheader"> {{ subtitle }} </h1>
  <nav>
    <h2 class="visually-hidden">Top level navigation menu</h2>
    <ul class="nav">
      {% set navPages = collections.all | eleventyNavigation %}
      
      
        {% macro renderNavSubListItem(entry) %}
          <li class="nav-sub-item"><a href="{{ entry.url }}"{% if entry.url == page.url or entry.parent.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
        {%- endmacro %}



        {% macro renderNavListItem(entry) %}
        
          {% if entry.children.length %}
          
            <div class="dropdown">
             {{ entry.title }}
              
              <div class="dropdown-content">
                {%- for child in entry.children %}{{ renderNavSubListItem(child) }}{% endfor -%}
              </div>
            </div>
          
          {% else %}
            <li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url or entry.parent.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
          {% endif %}
        {%- endmacro %}
    
      {%- for entry in navPages %}
        {{ renderNavListItem(entry) }}
      {%- endfor %}
    </ul>
  </nav>
	<div class="leftborder">
    <img class="border_img" loading="lazy" decoding="async" src="/img/vine_border_scaled.png" alt="decorative border"/>
	</div>
  <div class="pagecontent">
    {{ content | safe }}
	</div>
	<div class="footer">
	  <p>Copyright © Rory Morrison 2026</p>
	  <p>Hosted with GitHub Pages, built with 11ty v3.1.2 and photoswipe v5.4.4</p>
	</div>
  </body>
</html>